In [12]:
# Dependencies
import pandas as pd
import numpy as np

In [13]:
# Name of the CSV file
file = 'NYPD_Shooting_Incident_Data__Historic_.csv'

In [14]:
df = pd.read_csv(file)

In [15]:
df.head()

,INCIDENT_KEY,OCCUR_DATE,OCCUR_TIME,BORO,PRECINCT,JURISDICTION_CODE,LOCATION_DESC,STATISTICAL_MURDER_FLAG,PERP_AGE_GROUP,PERP_SEX,PERP_RACE,VIC_AGE_GROUP,VIC_SEX,VIC_RACE,X_COORD_CD,Y_COORD_CD,Latitude,Longitude
0,169180023,9/9/2017,3:57:00,STATEN ISLAND,120,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK,959975,171772,40.638126,-74.087467
1,169180027,9/9/2017,22:15:00,BRONX,50,0.0,NaN,False,NaN,NaN,NaN,25-44,M,BLACK HISPANIC,1011288,255912,40.869061,-73.902242
2,169180025,9/9/2017,18:35:00,BROOKLYN,79,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,18-24,M,BLACK,999888,193014,40.696450,-73.943607
3,169180024,9/9/2017,15:20:00,BROOKLYN,67,0.0,NaN,False,18-24,M,BLACK,18-24,M,BLACK,997784,172132,40.639137,-73.951236
4,169180022,9/9/2017,0:20:00,BROOKLYN,61,2.0,MULTI DWELL - PUBLIC HOUS,False,NaN,NaN,NaN,25-44,M,ASIAN / PACIFIC ISLANDER,1001019,156467,40.596134,-73.939619

In [16]:
df.shape

(20659, 18)

In [17]:
# Identify incomplete rows
df.count()

INCIDENT_KEY               20659
OCCUR_DATE                 20659
OCCUR_TIME                 20659
BORO                       20659
PRECINCT                   20659
JURISDICTION_CODE          20658
LOCATION_DESC               8944
STATISTICAL_MURDER_FLAG    20659
PERP_AGE_GROUP             13802
PERP_SEX                   13836
PERP_RACE                  13836
VIC_AGE_GROUP              20659
VIC_SEX                    20659
VIC_RACE                   20659
X_COORD_CD                 20659
Y_COORD_CD                 20659
Latitude                   20659
Longitude                  20659
dtype: int64

In [18]:
# Delete columns LOCATION_DESC, PERP_AGE_GROUP, PERP_SEX, PERP_RACE
del df['LOCATION_DESC']
del df['PERP_AGE_GROUP']
del df['PERP_SEX']
del df['PERP_RACE']

In [19]:
# Verify dropped rows
df.count()

INCIDENT_KEY               20659
OCCUR_DATE                 20659
OCCUR_TIME                 20659
BORO                       20659
PRECINCT                   20659
JURISDICTION_CODE          20658
STATISTICAL_MURDER_FLAG    20659
VIC_AGE_GROUP              20659
VIC_SEX                    20659
VIC_RACE                   20659
X_COORD_CD                 20659
Y_COORD_CD                 20659
Latitude                   20659
Longitude                  20659
dtype: int64

In [20]:
df.dtypes

INCIDENT_KEY                 int64
OCCUR_DATE                  object
OCCUR_TIME                  object
BORO                        object
PRECINCT                     int64
JURISDICTION_CODE          float64
STATISTICAL_MURDER_FLAG       bool
VIC_AGE_GROUP               object
VIC_SEX                     object
VIC_RACE                    object
X_COORD_CD                  object
Y_COORD_CD                  object
Latitude                   float64
Longitude                  float64
dtype: object

In [21]:
df.describe()

,INCIDENT_KEY,PRECINCT,JURISDICTION_CODE,Latitude,Longitude
count,2.065900e+04,20659.000000,20658.000000,20659.000000,20659.000000
mean,8.697715e+07,66.252432,0.323023,40.735722,-73.909360
std,4.817673e+07,27.023570,0.734606,0.087382,0.066867
min,9.953245e+06,1.000000,0.000000,40.511586,-74.249304
25%,5.043350e+07,44.000000,0.000000,40.667879,-73.943423
50%,7.937850e+07,69.000000,0.000000,40.697400,-73.915535
75%,1.381548e+08,81.000000,0.000000,40.823141,-73.882082
max,1.917035e+08,123.000000,2.000000,40.910819,-73.703082

In [22]:
df.to_csv("Shootings.csv", index=False, header=True)